@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --toastify-color-success: oklch(69.6% 0.17 162.48);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-arabic: var(--font-amiri);
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

body {
  background: var(--background);
  color: var(--foreground);

  scrollbar-gutter: stable both-edges;
  overflow-y: scroll;
}

button {
  cursor: pointer;
  transition: all 0.2s;
}

.title {
  @apply text-2xl md:text-4xl font-serif font-bold text-center text-emerald-800 mb-8 md:mb-12 tracking-tight;
}
